.name{
    position: 100px;
    background-color: aqua;
}
.submit{
    cursor: pointer;
}
.reset{
    cursor: pointer;
}
.chitol{
   background-color: red;
    padding: 10px;
}
.video{
    display: flex;
}
.gojol{
    text-align: center;
    font-size: 50px;
}
.vidio{
    width: 1000px;
    margin-right: 10px;
}
.video2{
    width: 658px;
    margin-left: 10px;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    color: black;
}


    

















